/* newly-added-protocol */

@charset "UTF-8";
.ntb-newly-added-protocol-hs {
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid red;
}


/* 
    width: 100%;
    height: 275px;
*/

.ntb-newly-added-protocol-hs-container {
    /* width: 850px; */
    /* height: 275px; */
    /* overflow-x: scroll; */
    height: 100%;
    /* min-height: 275px; */
    /* height: 500px; */
}


/* commons-title */

.ntb-newly-added-protocol-title {
    position: relative;
    color: #000;
    text-indent: 15px;
    margin-left: 3px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ntb-newly-added-protocol-title::before {
    position: absolute;
    top: 0px;
    left: 5px;
    content: "";
    display: inline-block;
    border: 2px solid #f79530;
    width: 0;
    height: 16px;
    /* line-height: 22px; */
}

#newly_added_listing_hs_container {
    /* min-height: 100px; */
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}


/* table */

[data-table="ntb-table-newly-added-protocol"] {
    /* width: 542px; */
    /* width: 100%; */
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    font-weight: normal;
    /* overflow: hidden; */
}


/* th */

[data-table-th="ntb-table-th-newly-added-protocol"] {
    font-size: 18px;
    text-align: left;
    /* background-color: #666; */
    box-sizing: border-box;
}


/* table head */

.ntb-td-key::after {
    content: ":"
}

.ntb-th-fire::after {
    content: "🔥"
}

.ntb-th-more {
    padding-left: 100px;
    text-align: right;
}

[data-ntb-th-title="Securities-Code"]::before {
    content: "("
}

[data-ntb-th-title="Securities-Code"]::after {
    content: ")"
}


/* th a link */

[data-table-th-link="ntb-table-th-link-newly-added-protocol"] {
    box-sizing: border-box;
    text-align: right;
    font-size: 13px;
    padding: 0;
}

.ntb-th-more>a[data-ntb-th-link="ntb-link-detials"] {
    cursor: pointer;
    color: rgba(2, 175, 255, 0.5);
    text-decoration: none;
    width: 100px;
    display: inline-block;
    box-sizing: border-box;
}

.ntb-th-more>a[data-ntb-th-link="ntb-link-detials"]:hover {
    color: rgba(2, 175, 255, 1);
}

[data-ntb-th-link="ntb-link-detials"]::after {
    content: ">>"
}


/* tr */

[data-table-tr="ntb-table-tr-newly-added-protocol"] {
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
}

[data-table-body="ntb-table-body-newly-added-protocol"]>tr:nth-of-type(1) {
    /* text-align: left; */
    text-align: center;
}


/* td */

[data-td-key="ntb-td-key"] {
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
    /* width: calc(1*100px); */
    width: 100px;
    max-width: 100px;
    line-height: 23px;
    height: 23px;
}

[data-td-value="ntb-td-value"] {
    color: red;
    font-size: 13px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    width: 100px;
    max-width: 100px;
    line-height: 23px;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[data-td="ntb-cols-span"] {
    width: calc(2*100px);
}


/* data-td-value="ntb-td-value" */

table,
tr,
td {
    margin: 0;
    padding: 0;
}