<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重要信息</title>
    <link rel="stylesheet" href="./important-infos.css">
</head>

<body>
    <section class="fv-module-box-3">
        <!-- 重要信息 -->
        <div class="fv-important-infos-title-box">
            <p class="fv-important-infos-title">重要信息</p>
            <!-- <fieldset disabled="disabled"></fieldset> -->
        </div>
        <table class="fv-important-infos-table">
            <thead class="fv-important-infos-table-thead">
                <tr class="fv-important-infos-table-tr">
                    <td class="fv-important-infos-table-td-title">重要信息</td>
                </tr>
            </thead>
            <tbody class="fv-important-infos-table-tbody">
                <tr class="fv-important-infos-table-tr">
                    <td class="fv-important-infos-table-td-key">涉及概念</td>
                    <td class="fv-important-infos-table-td-value" data-value="data-fv-infos">
                        <div class="css-data-loading" data-loading="pure-css-data-loading">
                            CSS Loading...
                        </div>
                    </td>
                </tr>
                <tr class="fv-important-infos-table-tr">
                    <td class="fv-important-infos-table-td-key">主营业务</td>
                    <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                </tr>
                <tr class="fv-important-infos-table-tr">
                    <td class="fv-important-infos-table-td-key" data-alias="3个月波动率(%)">52周波动率</td>
                    <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                </tr>
                <tr class="fv-important-infos-table-tr">
                    <td class="fv-important-infos-table-td-key" data-alias="近90天日均成交量(万股)">日均成交量(3个月)</td>
                    <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                </tr>
                <!-- 
                    <tr class="fv-important-infos-table-tr">
                        <td class="fv-important-infos-table-td-key">总市值</td>
                        <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                    </tr>
                 -->
                <tr class="fv-important-infos-table-tr">
                    <td class="fv-important-infos-table-td-key">净资产(万元)</td>
                    <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                </tr>
                <tr class="fv-important-infos-table-tr">
                    <td class="fv-important-infos-table-td-key">总股本(万股)</td>
                    <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                </tr>
                <tr class="fv-important-infos-table-tr">
                    <td class="fv-important-infos-table-td-key">流通股本(万股)</td>
                    <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                </tr>
                <tr class="fv-important-infos-table-tr">
                    <td class="fv-important-infos-table-td-key">股息率</td>
                    <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                </tr>
                <!--
                    <tr class="fv-important-infos-table-tr">
                        <td class="fv-important-infos-table-td-key">机构家数</td>
                        <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                    </tr>
                -->
                <tr class="fv-important-infos-table-tr">
                    <td class="fv-important-infos-table-td-key" data-alias="机构持股占比(%)">前十大机构持有</td>
                    <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                </tr>
                <!--
                    <tr class="fv-important-infos-table-tr">
                        <td class="fv-important-infos-table-td-key">分析师关注度</td>
                        <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                    </tr>
                -->
                <tr class="fv-important-infos-table-tr">
                    <td class="fv-important-infos-table-td-key">目标价格</td>
                    <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                </tr>
                <tr class="fv-important-infos-table-tr">
                    <td class="fv-important-infos-table-td-key">综合评级</td>
                    <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                </tr>
            </tbody>
            <tfoot class="fv-important-infos-table-tfoot">
                <tr class="fv-important-infos-table-tr">
                    <td class="fv-important-infos-table-td-value" data-value="data-fv-infos"></td>
                </tr>
            </tfoot>
        </table>
    </section>
    <script src="./important-infos.js"></script>
</body>

</html>



<!-- 
    <!DOCTYPE html>
    <html lang="zh-Hans">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>机构评级</title>
        <link rel="stylesheet" href="./agency-rating.css">
    </head>

    <body>
        <section class="fv-module-box-7">
            <div class="fv-agency-rating-container">
            </div>
        </section>
        <script src="./agency-rating.js"></script>
    </body>

    </html>
 -->